html, body, #root {
    width: 100%;
    height: 100%;

    margin: 0;
    overflow: hidden;
    --primary: gray;
    --clicked: red;
    --white: rgba(255, 255, 255, 0.365);
    --black: rgba(0, 0, 0, 0.478);
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #5e688490;
    --greyDark: #9baacf;
    --purple: purple;
}

$shadow: .3rem .3rem .6rem var(--greyLight-1), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .8rem var(--greyLight-3), 
inset -.2rem -.2rem .5rem var(--white);

header {
  background: rgba(217, 217, 217, 0.063);
  position: fixed;
  width: max-content;
  display: block;
  left: 1rem;
  z-index: 1;
}


nav {
  background: rgba(217, 217, 217, 0.063);
  position: fixed;
  width: max-content;
  display: block;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  grid-column-gap: 3rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  box-shadow: $inner-shadow;
}


.navbar-item {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--greyLight-1);
  font-size: 1.1rem;
  align-items: center;
}


.button {
  align-items: center;
  background-color: transparent;
  border-width: 0;
  border-radius: 50px;
  display: flex;
  height: 1.5rem;

}

.button-1 {


    &:active {
      box-shadow: $inner-shadow;
      color: var(--primary);
    }
    &:hover {color: red;}
}

.cContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  padding-left: 20%;
  padding-right: 20%;

}

.card{
  
  background-color: #9baacf;
}